OPTIMISM_RPC_URL=
BASE_RPC_URL=
CELO_RPC_URL=
FRAXTAL_RPC_URL=
INK_RPC_URL=
LISK_RPC_URL=
METAL_RPC_URL=
MODE_RPC_URL=
SONEIUM_RPC_URL=
SUPERSEED_RPC_URL=
SWELL_RPC_URL=
UNICHAIN_RPC_URL=

BASE_ETHERSCAN_API_KEY=
CELO_ETHERSCAN_API_KEY=
FRAXTAL_ETHERSCAN_API_KEY=
OPTIMISM_ETHERSCAN_API_KEY=
UNICHAIN_ETHERSCAN_API_KEY=

INK_VERIFIER_URL=
LISK_VERIFIER_URL=
METAL_VERIFIER_URL=
MODE_VERIFIER_URL=
SONEIUM_VERIFIER_URL=
SUPERSEED_VERIFIER_URL=
SWELL_VERIFIER_URL=
